body { margin: 0; }

canvas { width: 100%; height: 100%; }

nav {
  position: absolute;
  top: 115px;
  background-color: #FFF;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
}

nav section{
  font-size: 150%;
  margin-bottom: 10px;
}

#choice {
  right: 0;
  text-align: center;
}

.operationButton{
  cursor: pointer;
  background-color: #0000ff;
  opacity: 0.5;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.codeselect{
  width: 120px;
  height: 60px;
}

/*label*/
.addLabel{
  background-color: #00ff00;
  margin-top: 20px;
}

.suggestionsList{
  background-color: #ff0000;
}

.howto{
  margin-top: 50px;
}

  /*log*/
#log{
  left: 0;
}
.log{
  cursor: pointer;
}

#info{
  top: auto;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
