<template name="addLabel">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>
                    <h4 class="modal-title">Add Label</h4>
                </div>

                <div class="modal-body">
                  <form class="contact" name="contact">
                      <label class="label" for="labelName">What's the box's label?</label><br>
                      <input type="text" name="labelName" class="input-xlarge"><br>
                  </form>
                </div>

                <div class="modal-footer">
                  <input class="btn btn-success addLabelForm" type="submit" value="Add" id="submit">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
