<template name="operations">
	<!-- <script src="/lib/js/helvetiker_bold.typeface.js"></script>
  <script src='/lib/js/OrbitControls.js'></script>
  <script src='/lib/js/ColladaLoader.js'></script>
  <script src='/lib/js/Projector.js'></script>
  <script src='/lib/js/Detector.js'></script>
  <script src='/lib/js/TransformControls.js'></script>
  <script src='/lib/js/threex.windowresize.js'></script> -->
  <!-- original -->
  <!-- <script src='/lib/js/Sim.js'></script>
  <script src='/lib/js/Sim2.js'></script> -->
  <script src="/lib/js/geometries/TextGeometry.js"></script>
  <script src="/lib/js/utils/FontUtils.js"></script>
  <script src="/lib/js/helvetiker_bold.typeface.js"></script>
  <script src='/lib/js/sim-main.js'></script>

  <nav id="choice">
    <section>OPERATION</section>
    <p id="tb" class="choice operationButton" code="waiting">TOP / BOTTOM</p>
    <p id="lr" class="choice operationButton" code="waiting">LEFT / RIGHT</p>
    <p id="fb" class="choice operationButton" code="waiting">FRONT / BACK</p>
    <form class="operation">
      <input type="button" name="codeselect" value="waiting" class="codeselect"/>
    </form>
    <p id="label" class="addLabel operationButton">LABEL</p>
    <p id="label" class="suggestionsList operationButton">SUGGEST</p>
  </nav>

  <nav id="log">
    <section>LOG</section>
    {{#each operations }}
      <p class='log' boxCode='{{ operationTree }}'>{{ operationTree }}</p>
    {{/each}}
  </nav>

  <nav id="info">
    <p>Social Information Modeller Ver0.1</p>
  </nav>

  <script>
  $("#choice").on(
   'click',
   '.choice',
   function(){
     var value = $(':button[name="codeselect"]').val($(this).attr('code'));
   }
  );

  </script>
</template>
