<template name="operations">
	<!-- <script src="/lib/js/helvetiker_bold.typeface.js"></script>
  <script src='/lib/js/OrbitControls.js'></script>
  <script src='/lib/js/ColladaLoader.js'></script>
  <script src='/lib/js/Projector.js'></script>
  <script src='/lib/js/Detector.js'></script>
  <script src='/lib/js/TransformControls.js'></script>
  <script src='/lib/js/threex.windowresize.js'></script> -->
  <!-- original -->
  <!-- <script src='/lib/js/Sim.js'></script>
  <script src='/lib/js/Sim2.js'></script> -->
  <script src="/lib/js/geometries/TextGeometry.js"></script>
  <script src="/lib/js/utils/FontUtils.js"></script>
  <script src="/lib/js/helvetiker_bold.typeface.js"></script>
  <script src='/lib/js/sim-main.js'></script>

  <nav id="choice">
    <section>OPERATION</section>
    <p id="tb" class="choice operationButton" code="waiting">TOP / BOTTOM</p>
    <p id="lr" class="choice operationButton" code="waiting">LEFT / RIGHT</p>
    <p id="fb" class="choice operationButton" code="waiting">FRONT / BACK</p>
    <form class="operation">
      <input type="button" name="codeselect" value="waiting" class="codeselect"/>
    </form>
    <!-- <p id="label" class="addLabel operationButton">LABEL</p> -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> ADD LABEL</button>
    <br>
    <br>
    <p id="label" class="suggestionsList operationButton">SUGGEST</p>

  </nav>

  <nav id="log">
    <section>LOG</section>
    {{#each operations }}
      <p class='log' boxCode='{{ operationTree }}'>{{ operationTree }}</p>
    {{/each}}
  </nav>

  <nav id="info">
    <p>Social Information Modeller Ver0.1</p>
  </nav>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD LABEL</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="addLabelHere">Box Label</label>
                <input type="text" class="form-control"
                id="addLabelText" placeholder="Name Your Box"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="addLabelTextSubmit" type="button" class="btn btn-primary" data-dismiss="modal">Add Button</button>
        </div>
      </div>

    </div>
  </div>

  <script>
  $("#choice").on(
   'click',
   '.choice',
   function(){
     var value = $(':button[name="codeselect"]').val($(this).attr('code'));
   }
  );

  </script>
</template>
